*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1)
}


.container{
    text-align: center;
    /* background-color: aqua; */
    height: 130vh;
    padding: 20px 20px 100px 20px;
    /* margin: 50px 40px 50px 40px; */
    border-radius: 30px;
    box-shadow: var(--box-shadow);
    background-color: #fff;
}

.items{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-left: 100px;
    margin-right: 100px;
    gap: 10px;
}

.items button{
    padding: 30px 0 30px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
    outline: none;
    border: none;
    background: transparent;
    box-shadow: var(--box-shadow);

}

.container img{
    width: 20%;
    margin: 40px;
    border-radius: 30px;
    box-shadow: var(--box-shadow);
    height: 200px;
}

.container h1{
    text-transform: uppercase;
    font-family: fantasy;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    padding: 5px;
}

.container p{
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}



/* media responsive */

@media screen and (max-width:797px) {
    .items{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .items button{
       width: 100%;
    
    }

    .container img{
        width: 30%;
        height: 150px;
    }
}

@media screen and (max-width:463px) {
    .container img{
        width: 30%;
        height: 100px;
    }

    .items button{
        width: 100%;
        font-size: 15px;
        padding: 20px;
        margin: -10px;
     }
}